#footer {
    background-size: cover;
    border-top: 1px solid #f5f5f5;
    padding-top: 40px;

    h2 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .contact-info.bottom {
        padding-left: 0;

        address {
            margin-bottom: 20px;
        }
    }

    .two-column {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        column-gap: 30px;
    }

    @media (min-width: $screen-lg) {
        background-size: contain;
    }
}
