.section-base {
    padding : 50px 0;
    position: relative;

    @media (min-width: $screen-sm-min) {
        padding: 65px 0;
    }

    @media (min-width: $screen-md-min) {
        padding: 80px 0;
    }
}

.section-title {
    text-align    : center;
    margin-top    : 0;
    margin-bottom : $line-height-computed * 2;
    font-size     : $font-size-h2;
    text-transform: uppercase;
    font-weight   : 900;
}

.section-lead {
    line-height: 1.5;
}

#action {
    background-size: contain;
    
    @media (max-width: $screen-xs-max) {
        &.responsive {
            padding: 30px 0;
            height: auto;
        }

        .action {
            &.action.take-tour {
                margin-top: 0;
            }

            .btn-common {
                float: none;
            }
        }
    }
}
