.section-base {
    padding : 50px 0;
    position: relative;

    @media (min-width: $screen-sm-min) {
        padding: 65px 0;
    }

    @media (min-width: $screen-md-min) {
        padding: 80px 0;
    }
}

.section-title {
    text-align    : center;
    margin-top    : 0;
    margin-bottom : $line-height-computed * 2;
    font-size     : $font-size-h2;
    text-transform: uppercase;
    font-weight   : 900;
}
